<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="../../static/main/css/main.css">
</head>
<body>
    <header>
        <div class="header-bar">
            <div class="header-name-div">
                <h1>Header</h1>
            </div>
            <div class="login-bar">
            {% if request.user.is_authenticated %}
            <a href="{% url 'logout' %}"><button class="logout-btn header-btn">Выйти</button></a>
            <span class="header-username">{{ request.user.username }}</span>
            {% else %}
            <a href="{% url 'login' %}"><button class="login-btn header-btn">Войти</button></a>
            <a href="{% url 'register' %}"><button class="registration-btn header-btn">Регистрация</button></a>
            {% endif %}
            </div>
        </div>
    </header>
    <main>
        <div class="sidebar-and-main-div">
            <div class="sidebar-div">
                    <div class="sidebar-name-div">
                        <h1>Sidebar</h1>
                    </div>
                <hr class="sidebar-line">
                <div class="sidebar-nav">
                    <div class="nav-item">
                        {% if request.path == '/' %}
                            <a href="{% url 'index' %}" class="nav-link active" aria-current="page">
                        {% else %}
                            <a href="{% url 'index' %}" class="nav-link" aria-current="page">
                        {% endif %}
                        Главная</a>
                    </div>
                    <div class="nav-item">
                        {% if request.path == '/tasks-list/' %}
                            <a href="{% url 'tasks-list' %}" class="nav-link active" aria-current="page">
                        {% else %}
                            <a href="{% url 'tasks-list' %}" class="nav-link" aria-current="page">
                        {% endif %}
                        Задачи</a>
                    </div>
                    <div class="nav-item">
                        {% if request.path == '/tasks-today/' %}
                            <a href="{% url 'tasks-today' %}" class="nav-link active" aria-current="page">
                        {% else %}
                            <a href="{% url 'tasks-today' %}" class="nav-link" aria-current="page">
                        {% endif %}
                        Сегодня</a>
                            </div>
                    <div class="nav-item">
                        {% if request.path == '/archive/' %}
                            <a href="{% url 'archive' %}" class="nav-link active" aria-current="page">
                        {% else %}
                            <a href="{% url 'archive' %}" class="nav-link" aria-current="page">
                        {% endif %}
                        Архив</a>
                            </div>
                    <div class="nav-item">
                        {% if request.path == '/create-task/' %}
                            <a href="{% url 'create-task' %}" class="nav-link active" aria-current="page">
                        {% else %}
                            <a href="{% url 'create-task' %}" class="nav-link" aria-current="page">
                        {% endif %}
                        Создать задачу</a>
                    </div>
                </div>
                </hr>
            </div>
            <div class="main-container">
                {% block content %}{% endblock %}
                </div> 
        </div>
    </main>
    <script type="text/javascript" src="{% static 'main/js/index.js' %}"></script>
</body>
</html>