<!-- 
<style>
.inupt-item{
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}

.form-btn{
    margin-top: 10px;
}
#enter-content{
    height: 100px;
    width: 40%;
    border:2px solid #003077;
}
#enter-header{
    border:2px solid #003077;
}
#enter-deadline{
    border:2px solid #003077;
}
#enter-priority{
    border:2px solid #003077;
}
.form-btn{
appearance: none;
color: white;
background-color:#003077;
border-radius: 4px;
padding: 2px 8px;
transition: background-color 0.3s;
}
.form-btn:hover{
    color: #00c6f5;
}
</style> -->

{% extends 'main/base.html' %}

{% block content %}
<h1 class="main-title">{{ title }}</h1>
<form action="{% url 'create-task' %}" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="form-error">{{ form.non_field_errors }}</div>
    {% for f in form %}
        <div class="inupt-item">
            <label for="{{ f.id_for_label }}">{{ f.label }}: </label><div>{{ f }}</div>
        </div>
        <div class="form-error">{{ f.errors }}</div>
    {% endfor %}
    <button class="form-btn" type="submit">Создать</button>
</form>
{% endblock %}