{% extends 'main/base.html' %}

{% block content %}
<h1 class="main-title">{{ title }}</h1>
<form action="{% url 'create-task' %}" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="form-error">{{ form.non_field_errors }}</div>
    {% for f in form %}
        <div class="inupt-item">
            <label for="{{ f.id_for_label }}">{{ f.label }}: </label><div>{{ f }}</div>
        </div>
        <div class="form-error">{{ f.errors }}</div>
    {% endfor %}
    <button class="form-btn" type="submit">Создать</button>
</form>
{% endblock %}