{% extends 'main/base.html' %}

{% block content %}
<div>
    <h1 class="main-title">{{ title }}</h1>
    <div id="dt-content-div">
        <p id="dt-task-title">{{ task.title }}</p>
        <p id="dt-task-content">{{ task.content }} </p>
        <div id="dt-task-menu">
            <div id="dt-task-info">
                <p id="dt-task-deadline">Срок выполнения: {{ task.deadline }}</p>
                {% if task.active %}
                    <div id="dt-task-active-div">
                        <p class="dt-task-status">Задача активна</p>
                        <p><a id="dt-close-task" href="{% url 'close-task' task.pk %}">Закрыть задачу</a></p>
                    </div>
                {% else %}
                    <p class="dt-task-status">Задача выполнена</p>
                {% endif %}
            
            </div>
                <p><a id="dt-comments" href="{% url 'comments' task.pk %}">Комментарии</a></p>
                <p><a id="dt-edit" href="{% url 'update-task' task.pk %}">Редактировать</a></p>
                <p><a id="dt-delete" href="{% url 'delete-task' task.pk %}">Удалить</a></p>
            
        </div>
        <div id="dt-subtask-div">
            <p id="dt-subtasks-main-title" class="dt-task-status">Подзадачи</p>
            <p id="dt-create-subtask-p"><a id="dt-create-subtask" href="{% url 'create-subtask' task.pk %}">Добавить</a></p>
            {% for subtask in subtasks %}
            <p id="dt-subtask-content">{{ subtask.content }} </p>
            {% if subtask.active %}
            <div id="dt-subtask-info">
                    <p class="dt-task-status">Задача активна</p>
                    <p><a id="dt-close-subtask" href="{% url 'close-subtask' subtask.pk %}">Закрыть задачу</a></p>
                {% else %}
                    <p class="dt-task-status">Задача выполнена</p>
                {% endif %}
                <p><a id="dt-delete-subtask" href="{% url 'delete-subtask' subtask.pk %}">Удалить</a></p>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}
