{% extends 'main/base.html' %}

{% block content %}
<h1>{{ title }}</h1><br>
<div>
    <h4>{{ task.title }}</h4>
    <p>{{ task.content }}</p>
    <p>Срок выполнения: {{ task.deadline }}</p>
    {% if task.active %}
        <h4>Задача активна</h4>
    {% else %}
        <h4>Задача выполнена</h4>
    {% endif %}
    <a href="{% url 'update-task' task.pk %}">Редактировать</a>
    <a href="{% url 'delete-task' task.pk %}">Удалить</a>
    <p><a href="{% url 'detail-subtask' task.pk %}">Подзадачи</a></p>
    <p><a href="{% url 'comments' task.pk %}">Комментарии</a></p>
</div>
{% block subtask %}{% endblock %}
{% endblock %}
