{% extends 'main/base.html' %}

{% block content %}
<h1 class="main-title">{{ title }}</h1>
{% for task in tasks %}
<div class="task-container-div">
    <p class="task-title">{{ task.title }}</p>
    <div class="task-content-div">
        <p class="task-content">{{ task.content }}</p>
    </div>
    <div class="task-deadline-info-div">
        <p class="task-deadline">Срок выполнения: {{ task.deadline }}</p>
        <a class="task-info-link" href="{{ task.get_absolute_url }}">Подробнее</a>
    </div>
</div>
{% endfor %}
{% endblock %}